
<h1>Edit Attendee</h1>



<%= form_for @attend do |f| %>
    <%= f.label :First_Name %>
    <%= f.text_field :fname %>

    <%= f.label :Last_Name %>
    <%= f.text_field :lname %>
    <%=f.submit%>
<%end%>
    